*{
  margin: 0;
  padding: 0;
  box-sizing: 0;
}
@import url('https://fonts.googleapis.com/css?family=Quicksand');
html{
  background: url("imagenes/fondoamor.jpg") no-repeat center center;
  min-height: 100% ;
  background-size: cover;
}
body {
  text-align: center;
  font-family: Courier;
}
.root {
  background: rgba(16, 21, 51, 0.8);
  margin-right: 25%;
  margin-left: 25%;
  padding-top: 2%;
  padding-bottom: 1%;
  border-radius: 15%;
}
h1 {
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  color: #ffffff;
  background: #FB2F3A;
  margin-bottom: 20px;
}
textarea{
  background: #ffffff;
  color: #FB2F3A;
  border: 2px solid #FB2F3A;
  border-radius: 20px;
}
label{
  color: #ffffff;
}
input {
  background: #ffffff;
  color: #FB2F3A;
  border: 1px solid #FB2F3A;
  border-radius: 5px;
  height: 20px;
  width: 200px;
  text-align: center;
}
button {
  font-size:20px;
  font-family: verdana;
  font-weight:bold;
  color:white;
  background:#FB2F3A;
  border-radius: 10px;
  width: 250px;
  height:30px;
}
div{
  margin-bottom: 20px;
}
