*{
  margin: 0; 
  padding: 0;
  box-sizing: 0;
}
@import url('https://fonts.googleapis.com/css?family=Quicksand');
html{
  background: url("imagenes/fondoamor.jpg") no-repeat center center;
  min-height: 100% ;
  background-size: cover;
}
body {
  text-align: center;
  font-family: Courier;
}
.root {
  background: rgba(16, 21, 51, 0.8);
  width: 50%;
  height: 100%;
  padding-top: 2%;
  padding-bottom: 1%;
  border-radius: 15%;
  box-sizing: border-box;
}
h1 {
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  color: #ffffff;
  background: #FB2F3A;
  margin-bottom: 20px;
}
textarea{
  background: #ffffff;
  height: 200px;
  width: 90%;
  color: #FB2F3A;
  border: 2px solid #FB2F3A;
  border-radius: 20px;
  box-sizing: border-box;
}
label{
  color: #ffffff;
}
input {
  background: #ffffff;
  color: #FB2F3A;
  border: 1px solid #FB2F3A;
  border-radius: 5px;
  height: 20px;
  width: 200px;
  text-align: center;
  box-sizing: border-box;
}
button {
  font-size:20px;
  font-family: verdana;
  font-weight:bold;
  color:white;
  background:#FB2F3A;
  border-radius: 10px;
  width: 250px;
  height:30px;
}
div{
  margin-bottom: 20px;
}
@media screen and (min-width: 780px) and (max-width: 2000px) {
  .root {
    background: rgba(16, 21, 51, 0.8);
    width: 50%;
    height: 100%;
    padding-top: 2%;
    padding-bottom: 1%;
    border-radius: 15%;
    box-sizing: border-box;
    margin-left: 25%;
  }

}
@media screen and (min-width: 480px) and (max-width: 780px) {
  .root {
    background: rgba(16, 21, 51, 0.8);
    width: 75%;
    height: 100%;
    padding-top: 2%;
    padding-bottom: 1%;
    border-radius: 15%;
    box-sizing: border-box;
    margin-left: 12.5%;
  }

}
@media screen and (max-width: 480px) {
  .root {
    background: rgba(16, 21, 51, 0.8);
    width: 100%;
    height: 100%;
  }
}
